.page{

}
.page > nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
    align-items: center;
}
.calendar{
    
} 
.calendar .weekdays,
.calendar .days{
    display: flex;
    text-align: right;
    flex-wrap: wrap;
    
}
.calendar .days{
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.calendar .weekdays li{
    width: 14.28%;
    line-height: 40px;
}
.calendar .days li{
    width: 14.28%;
    padding: 2.5em 0.3em;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.calendar .days li.previousMonth{
    background: #fafafa;
    color: #ccc;
}
.calendar .days li.nextMonth{
    background: #f5f5f5;
}
.calendar .days li.currentMonth.now{
    color: red;
}
